@model VehicleServiceModel
@inject IVehicleService vehicalService
@inject IOwnerService ownerService
<div class="col-md-4">
    <div class="card mb-3">
        <img height="200" width="100" class="card-img-top" src="~/img/@Model.ImageFileName" alt="Card image cap">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Manifacturer: <b>@Model.Manifacturer</b></h6>
            <h6>Rating : <b>@Model.Rating</b></h6>
            <p>
                <i>@if(Model.IsRented == true)
                    {
                        <button type="button" class="btn btn-primary" disabled>Rented</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" disabled>Not Rented</button>
                    }
                </i>
            </p>
            <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated && await ownerService.IsOwnerAsync(Model.Id, User.Id()))
            {
                <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>

                <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>