@model VehicleServiceModel
@inject IVehicleService vehicleService
@inject IOwnerService ownerService
<div class="col-md-4">
    <div class="card mb-3">
        <img height="200" width="100" class="card-img-top" src="~/img/@Model.ImageFileName" alt="Card image cap">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Manifacturer: <b>@Model.Manifacturer</b></h6>
            <h6>Price Per Day: 
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <h6>Owner Rating : <b>@Model.Rating</b></h6>
            <a asp-area="" asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated && await ownerService.IsOwnerAsync(Model.Id, User.Id()) || User.IsAdmin())
            {
                <a asp-area="" asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>

                <a asp-area="" asp-controller="Vehicle" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
            <p></p>
            @if (!Model.IsRented && await ownerService.IsOwnerAsync(Model.Id, User.Id()) == false && User.IsAdmin() == false && this.User.Identity.IsAuthenticated)
            {
                <form class="input-group-sm" asp-area="" asp-controller="Vehicle" asp-action="Rent"
                  asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Rent" />
                </form>
            }
            else if (Model.IsRented && await vehicleService.IsRentedByIUserWithIdAsync(Model.Id, User.Id()) && this.User.Identity.IsAuthenticated)
            {
                <form asp-area="" asp-controller="Vehicle" asp-action="Return" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Return" />
                </form>
                <p></p>
                <a asp-area="" asp-controller="Rating" asp-action="Rate" asp-route-id="@Model.Id"
                   class="btn btn-warning">Rate&Return</a>
                
                
            }
            
        </div>
    </div>
</div>